include optional=true "hm.kdl"
include optional=true "dms/alttab.kdl"
include optional=true "dms/binds.kdl"
include optional=true "dms/colors.kdl"
include optional=true "dms/layout.kdl"
include optional=true "dms/windowrules.kdl"
include optional=true "dms/wpblur.kdl"

layout { border { on; }; }
